{% if ssl_engine is defined and ssl_engine | lower == "yes" %}
<VirtualHost *:80>
    ServerName  {{ server_name }}
{% if server_alias is defined and server_alias | length > 0 %}
    ServerAlias {% for alias in server_alias %}{{ alias }} {% endfor %}
{% endif %}

    Redirect permanent / https://{{ server_name }}
</VirtualHost>
<VirtualHost *:443>
    ServerName {{ server_name }}
{% if server_alias is defined and server_alias | length > 0 %}
    ServerAlias {% for alias in server_alias %}{{ alias }} {% endfor %}
{% endif %}

{% if server_admin is defined and server_admin | length > 0 %}
    ServerAdmin {{ server_admin }}
{% endif %}
    DocumentRoot {{ doc_root }}    
    SSLEngine on
    SSLCertificateFile {{ ssl_crt }}
    SSLCertificateKeyFile {{ ssl_key }}
{% if error_log is defined and error_log | length > 0 %}
    ErrorLog "{{ error_log }}"
{% endif %}
{% if custom_log is defined and custom_log | length > 0 %}
    CustomLog "{{ custom_log }}" {{ custom_log_format }}
{% endif %}
    <Directory {{ doc_root }}>
    	AllowOverride {{ allow_override }}
	Options {% for option in options %}{{ option }} {% endfor %}
     	
	DirectoryIndex {% for directory_index in directory_indexes %}{{ directory_index }} {% endfor %} 
	Require all granted
    </Directory>
</VirtualHost>
{% endif %}

{% if ssl_engine is defined and ssl_engine | lower == "no" %}
<VirtualHost *:80>
    ServerName  {{ server_name }}
{% if server_alias is defined and server_alias | length > 0 %}
    ServerAlias {% for alias in server_alias %}{{ alias }} {% endfor %}
{% endif %}
    DocumentRoot {{ doc_root }}
{% if error_log is defined and error_log | length > 0 %}
    ErrorLog "{{ error_log }}"
{% endif %}
{% if custom_log is defined and custom_log | length > 0 %}
    CustomLog "{{ custom_log }}" {{ custom_log_format }}
{% endif %}
    <Directory {{ doc_root }}>
        AllowOverride {{ allow_override }}
	Options {% for option in options %}{{ option }} {% endfor %}
	
	DirectoryIndex {% for directory_index in directory_indexes %}{{ directory_index }} {% endfor %}
	Require all granted
    </Directory>
</VirtualHost>
{% endif %}

